name: Lint

on:
  pull_request:
  push:
    branches:
      - main

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-python@v6.1.0
        with:
          python-version: "3.10"

      - name: Install uv
        uses: astral-sh/setup-uv@v7
        with:
          enable-cache: true

      - uses: pre-commit/action@v3.0.1

      - name: Install Python dependencies
        run: uv sync

      - name: mypy Static Type Checker
        run: uv run mypy .
